div.Homeback {
    background-image:url("../img/pic1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    
}

.homeTitle{
    
    text-align:center;
    line-height:300px;
    top:200px;
    font-size:70px
}
button{
    height:350px;
    width: 350px;
    margin: auto;
    border-radius: 200px;
    font-size: 50px;
}
.buttonDiv{
    margin-top: 150px;
    height: 400px;
    padding: 50px;
    display:flex;         
    align-items: center;
}
#color1{
    background-color:rgb(238, 169, 169);
}
#color2{
    background-color:rgba(219, 238, 175, 0.986);
}
#color3{
    background-color:rgb(174, 215, 252);
}