div.Sback {
    background-image:url("../img/pic3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    
}

.STitle{
    color:white;
    text-align:center;
    line-height:300px;
    top:200px;
    font-size:70px
}

.menu-set {
    align-items: flex-end;
    font-size: 20px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px
  }

.input{
    margin:50pxs
}
.text{
    color:white;
}

.liveBoard{
    margin-left: 30%;
    margin-right: 30%;
}